In [1]:
import pandas as pd
import numpy as np

In [3]:
schools_data_import = "schools_complete.csv"
students_data_import = "students_complete.csv"

In [4]:
schools_data = pd.read_csv(schools_data_import)
students_data = pd.read_csv(students_data_import)

In [8]:
schools_data_complete = pd.merge(students_data, schools_data, how="left", on=["school_name", "school_name"])

In [9]:
schools_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [10]:
students_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [11]:
schools_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [36]:
schools_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [37]:
# total schools
unique_school_names = schools_data_complete['school_name'].unique()
total_schools = len(unique_school_names)
total_schools

15

In [48]:
# total students
total_students = schools_data_complete['size'].sum()

In [16]:
# total budget
total_budget = schools_data_complete['budget'].sum()

In [17]:
# average math score
average_math_score = round(schools_data_complete['math_score'].mean(),6)

In [19]:
# average reading score
average_reading_score = round(schools_data_complete['reading_score'].mean(),5)

In [21]:
# percentage of students passing math
students_passing_math = schools_data_complete.loc[schools_data_complete["math_score"] > 60,:]
percent_passing_math = round(float(students_passing_math['math_score'].count()/total_students)*100,6)

In [22]:
# percentage of students passing reading
students_passing_reading = schools_data_complete.loc[schools_data_complete["reading_score"] >60,:]
percent_passing_reading = round(float(students_passing_reading["reading_score"].count()/total_students)*100,6)

In [23]:
# overall passing rate for math and reading
overall_passing_rate =round((percent_passing_math + percent_passing_reading)/2,6)

In [24]:
# disctric Summary dataframe 
summary_df = pd.DataFrame({"Total Schools":[total_schools],
                          "Total Students":[total_students],
                          "Total Budget":[total_budget],
                          "Average Math Score":[average_math_score],
                          "Average Reading Score":[average_reading_score],
                          "Percent Passing Math":[percent_passing_math],
                          "Percent Passing Reading":[percent_passing_reading],
                          "Percent Overall Passing Rate":[overall_passing_rate]})

In [35]:
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing Rate
0,39170,130551930,82932329558,78.985371,81.87784,0.027275,0.030003,0.028639

In [54]:
school_types = schools_data_complete.set_index(["school_name"])["type"]

In [61]:
school_budget = schools_data_complete.groupby(["school_name"]).mean()["budget"]
budget_per_school = school_budget / total_schools